importFrom("minpack.lm","nlsLM", "nls.lm.control") 
importFrom("raster","raster", "getData", "extract") 
importFrom("msm","rtnorm") 
importFrom("httr","content", "GET", "upload_file", "POST", "config") 
importFrom("jsonlite","fromJSON") 
importFrom("graphics", "legend", "lines", "par", "plot")
importFrom("stats", "SSmicmen", "lm", "median", "na.omit", "quantile", "rnorm", "sd")
importFrom("utils", "data", "download.file", "unzip", "write.table")
importFrom("methods", "is")
exportPattern("^[[:alpha:]]+")